$header-height: 4em;

.site-title {
    padding-inline: 1rem !important;
    margin-left: -0.5em;
}

.main {
    img {
        border: rgba(127, 127, 127, 0.2) 0.2em solid;
        border-radius: 0.5em;
    }
    img.img-rounded {
        border-radius: 50%;
    }
}