$header-height: 4em;

.site-title {
    padding-inline: 1rem !important;
    margin-left: -0.5em;
}

.main {
    img {
        border: rgba(127, 127, 127, 0.2) 0.2em solid;
        border-radius: 0.5em;
    }
    img.rounded {
        border-radius: 50%;
    }
    img.profile {
        border-radius: 50%;
        border: rgba(127, 127, 127, 0.2) 0.3em solid;
        height: 8em;
        float: right;
        clear: both;
        position: relative;
        margin-left: 1em;
        shape-outside: circle();
    }
    .program_code {
        border: none !important;
    }
    img.devtype {
        width: 4em;
        height: 4em;
    }
}

$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;
$greenyellow-000: #cdfc93;
$greenyellow-100: #aed67c;
$greenyellow-200: #8cc449;
$greenyellow-300: #6b9637;
